@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --textBlack: hsl(97, 25%, 14%);
  --textBlackHover: hsl(from var(--textBlack) h calc(s - 5) calc(l + 2));
  --textGrey: hsl(100, 3%, 64%);
  --textGreyHover: hsl(from var(--textGrey) h s calc(l - 10));
  --logoGold: hsl(41, 52%, 45%);
  --optionCellGreen: hsl(148, 22%, 54%);
  --optionCellHoverGreen: hsl(148, 22%, 36%);
  --optionCellWhiteBorderGrey: hsl(210, 14%, 89%);
   --buttonGreen: hsl(147, 53%, 63%);
   --buttonHoverGreen: hsl(140, 39%, 68%);
  --darkGreen: hsl(146, 38%, 46%);
  --featuredReviewSectionGreen: hsl(145, 20%, 19%);
  --visualReviewSectionGreen: hsl(86, 8%, 39%);
  --featuredReviewStarGold: hsl(48, 78%, 56%);
  --reviewAPIStarGold: hsl(50, 85%, 53%);
  --reviewCardGreen: hsl(148, 29%, 42%);
  --featuredReviewDarkGreen: hsl(130, 10%, 24%);
  --endingSloganText: var(--featuredReviewSectionGreen);
  --endingSloganButton: var(--featuredReviewSectionGreen);
  --endingSloganBackground: hsl(147, 31%, 93%);
  --endingSloganButtonHover: hsl(99, 13%, 22%);
  --footerGreen: var(--featuredReviewSectionGreen);
  --awardsBGBeige: hsl(0, 0%, 97%);
  --reviewAPIBackground: hsla(215, 15%, 97%, 0.5);
  --oldReviewAPIBackground: hsl(0, 30%, 96%);
  --reviewAPIBackgroundDark: hsl(from var(--reviewAPIBackground) h s calc(l - 10));
  --endButtonSectionTan: hsl(147, 31%, 93%);
  --reviewAPIReviewGrey: hsl(from var(--textGrey) h s calc(l - 20));
  --reviewAPIBorder: hsl(215, 15%, 92%);
  --reviewAPIAlteredFeaturedReviewGreen: hsl(from var(--featuredReviewSectionGreen) calc(h + 5) calc(s + 10) calc(l + 2));

  --openingContentSectionWidth: min(1300px, 85vw);
  --otherContentSectionWidth: min(1224px, 80vw);
  --featuredReviewCellWidth: 960px;
  --featuredReviewCellWrapperPadding: 2rem;
  --featuredReviewSlideTime: 0.4s;
  --featuredReviewGalleryMarginLeft: calc((100vw - var(--featuredReviewCellWidth)) / 2);
  --writeReviewStarWidth: 2.8rem;
  --writeReviewStarMargin: 0.3rem;
  --reviewAPIWidth: min(1350px, 80vw);
  --reviewAPIHeight: min(850px, 75vh);
  --reviewAPIButtonWidth: 11rem;
  --reviewAPIButtonHeight: 3rem;
  --reviewAPIPadding: 4rem;
  --reviewAPIButtonLeftPadding: 1.2rem;
  --reviewAPIButtonBorderRadius: 0.3rem;


  --Segoe: 'Segoe UI';
}

body {
  font-family: var(--Segoe);
  margin: 0;
}

body.no-scroll {
  overflow: hidden;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 1.25rem 3.5rem;
  box-shadow: 0px 2px 1px #0000000e;
  position: sticky;
  z-index: 99;
  background-color: white;
}

.navbar-section {
  height: fit-content;
  display: flex;
  align-items: center;
}

.navbar-section:nth-child(2){
  gap: min(3rem, 3vw);
}

.navbar-section:nth-child(3){
  gap: min(2rem, 3vw);
}

.navbar-section > * {
  font-family: 'Segoe UI';
}

.button.nav {
  font-size: 0.9rem;
  border: none;
  background-color: var(--buttonGreen);
}

.button.nav:hover {
  background-color: var(--buttonHoverGreen);
  text-decoration: underline;
} 



.navbar-section > a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.02rem;
  cursor: pointer;
  color: var(--textBlack);
}

.navbar-section > a:hover {
  text-decoration: underline;
}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}


.logo-wrapper {
  height: fit-content;
  display: flex;
  align-items: center;
}

.logo-text {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 2.4rem;
  margin-left: 0.4rem;
  letter-spacing: 0.03rem;
  color: var(--logoGold);
}

.logo-symbol {
  stroke: var(--logoGold);
  fill: none;
  height: 2rem;
}

/*
  Policy Options
*/

.policy-option-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.policy-option-cell {
  overflow: clip;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  padding: 20px;
  height: 355px;
  max-width: 100%;
  width: 300px;
  border-radius: 1.8rem;
  background-color: var(--optionCellGreen);
  cursor: pointer;
}

.policy-option-cell.white {
  background-color: white;
  border: 1px solid var(--optionCellWhiteBorderGrey);
}

.policy-option-cell.white > * {
  color: var(--textBlack);
}

.policy-option-cell > *{
  z-index: 1;
}

.policy-option-cell:hover .policy-option-image {
  transform: scale(1.04) translateX(-10px);
}

.policy-option-cell.white:hover .policy-option-image {
  transform: scale(1.06) translateX(-50%);
}

.policy-option-cell.white .policy-option-image {
  transform-origin: top left;
}

.policy-option-image {
  transform-origin: bottom;
  pointer-events: none;
  transition: transform 0.3s ease-in-out;
  position: absolute;
  bottom: 0;
  right: 0;
  height: auto;
  width: 90%;
  z-index: 0;
}

.policy-option-cell:nth-child(1) .policy-option-image {
  width: 160%;
  right: -170px;
  filter: saturate(67%) brightness(0.93) contrast(1.2);
}

.policy-option-cell:nth-child(2) .policy-option-image {
  width: 100%;
  right: -70px;
  filter: brightness(1.15);
}

.policy-option-cell:nth-child(3) .policy-option-image {
  right: -10px;
}

.policy-option-cell:nth-child(4) .policy-option-image {
  width: 62%;
  left: 50%;
  top: 34%;
  transform: scale(1) translateX(-50%);
}

.policy-option-cell.white:hover {
  background-color: white;
  border: 1px solid var(--textBlack);
}

.policy-option-cell:hover {
  background-color: var(--optionCellHoverGreen);
}

.policy-option-cell .button {
  border: none;
  padding: 0.95em 1.45em;
  border-radius: 1.6em;
}


.policy-option-cell.white .button {
  border: 1px solid var(--textGrey);
}

.policy-option-cell.white .button:hover {
  border-color: var(--textBlack);
  background-color: white;
}

.policy-option-cell .button:hover {
  background-color: #fafaf9;
}

.policy-option-title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.25;
  letter-spacing: -0.02rem;
  max-width: 70%;
  color: white;
}

.opening-section-wrapper {
  width: var(--openingContentSectionWidth);
  position: relative;
  margin: auto;
  padding-top: 96px;
}

.opening-text-wrapper {
  display: flex;
  align-items: center;
  gap: 5rem;
  width: 100%;
  margin-bottom: 64px;
  padding-left: 0.1rem;
}

.opening-text-slogan {
  font-weight: 500;
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
  width: 350px;
  color: var(--textBlack);
}

.opening-text-detail-wrapper {
  width: 500px;
  position: relative;
}

.opening-text-detail-main {
  color: var(--textBlack);
  margin-bottom: 1rem;
  text-wrap-style: balance;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.3;
}

.opening-text-detail-end {
  color: var(--textGrey);
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.3;
}

/*
  Awards Section
*/

.awards {
  position: relative;
  width: var(--openingContentSectionWidth);
  margin: 130px auto 150px auto;
  background-color: var(--awardsBGBeige);
  color: var(--textBlack);
  text-align: center;
  box-sizing: border-box;
  letter-spacing: 0.012rem;
  padding: 2rem 4rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.8rem;
}

.awards-title {
  color: hsl(95, 7%, 33%);
  font-size: 0.9rem;
  font-weight: 400;
  margin-right: 2rem;
}

.awards-year-list {
  color: #000;
  margin-left: 0.5rem;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: -0.035em;
}

/*
  Collage Section
*/


.collage-wrapper {
  position: relative;
  width: var(--otherContentSectionWidth);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 10rem;
}

.collage-pair {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 5%;
  width: 100%;
  height: 450px;
}

.collage-pair > * {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

.collage-img {
  background-position: center;
  background-size: cover;
  width: 50%;
  font-size: 0px;
  border-radius: 1rem;
}

.collage-text-wrapper {
  display: flex;
  max-width: 40%;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
}

.collage-text-title {
  color: var(--textBlack);
  font-weight: 500;
  font-size: 2.4rem;
  letter-spacing: 0.03rem;
}

.collage-text-body {
  color: var(--textBlack);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 0.01rem;
}

/*
  FAQ Section
*/

.faq-wrapper {
  background-color: var(--featuredReviewSectionGreen);
  padding: 5rem 0 6.5rem 0;
}

.faq-content {
  position: relative;
  width: 650px;
  margin: 0 auto;
}

.faq-pairt {
  border-bottom: 2px solid var(--textBlack);
  box-sizing: border-box;
  padding: 2rem 3.5rem;
  border-radius: 0.15rem;
  margin-bottom: 3rem;
  background-color: hsla(201, 25%, 37%, 0.2);
  --whiteish: hsl(204, 10%, 95%);
}

.faq-title {
  color: var(--endButtonSectionTan);
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: -0.04rem;
  margin: 0 auto 2rem auto;
  position: relative;
  width: fit-content;
}

.faq-question {
  position: relative;
  width: fit-content;
  color: hsl(207, 6.5%, 65%);
  margin: 3rem auto 1rem auto;
  line-height: 1.24;
  font-weight: 500;
  font-size: 1.35rem;
}

.faq-answer {
  position: relative;
  color: var(--endButtonSectionTan);
  line-height: 1.45;
  font-size: 0.95rem;
}

.faq-answer ul {
  margin: 0.4rem 0 0.8rem 0;
}

/*
  Review Section
*/

.review-section-wrapper {
  background-color: var(--featuredReviewSectionGreen);
  padding: 9rem 0 3rem 0;
  margin: 8rem 0 4rem 0;
}

@media(max-width: 1680px){
  .review-gallery-title {
    max-width: 34ch;
  }
}

.review-gallery-title {
  color: white;
  position: relative;
  width: calc( 2 * var(--paddingSize) + var(--otherContentSectionWidth));
  margin: 0 auto 8rem auto;
  --paddingSize: 3em;
  font-size: 4rem;
  box-sizing: border-box;
  padding: 0 var(--paddingSize);
  letter-spacing: -0.03em;
  font-weight: 500;
}

.review-gallery-slider-wrapper {
  overflow: hidden;
  position: relative;
  margin-left: var(--featuredReviewGalleryMarginLeft);
  padding-left: var(--featuredReviewCellWrapperPadding);
}

.review-gallery-cell-slider {
  position: relative;
  display: flex;
  gap: var(--featuredReviewCellWrapperPadding);
  transition: transform var(--featuredReviewSlideTime) ease-out;
}

.review-gallery-cell {
  position: relative;
  background-color: var(--featuredReviewDarkGreen);
  min-width: var(--featuredReviewCellWidth);
  height: calc(var(--featuredReviewCellWidth) * 0.45);
  box-sizing: border-box;
  padding: 2rem 4rem;
  display: flex;
  border-radius: 1.5rem;
  justify-content: space-between;
}

@media(max-height: 750px){
  .review-gallery-cell {
    height: calc(var(--featuredReviewCellWidth) * 0.4);
  }
}

.review-gallery-cell-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  width: 56%;
  position: relative;
}

.review-gallery-cell-text-review {
  margin-top: 1.6rem;
  color: white;
  font-size: 1.6rem;
}

.review-gallery-cell-text-name {
  color: white;
  font-size: 1.25rem;
  margin-bottom: 0.12rem;
}

.review-gallery-cell-text-bottom-section {
  width: 100%;
  display: flex;
  position: relative;
  gap: 2rem;
  align-items: flex-end;
  justify-content: space-between;
}

.photo-dots {
  display: inline-block;
  width: 0.5rem;
  cursor: pointer;
  margin-right: 0.5em;
  aspect-ratio: 1 / 1;
  opacity: 0.6;
  border-radius: 50%;
  background-color: var(--textGreyHover);
}

.photo-dots:hover {
  opacity: 1;
}

.photo-dots.selected {
  background-color: white;
  opacity: 1;
}

.star-icon {
  vertical-align: top;
  position: relative;
  stroke: var(--featuredReviewStarGold);
  fill: var(--featuredReviewStarGold);
  width: 1.45rem;
  margin-right: 0.2rem;
}

.review-gallery-cell-text-policy {
  color: var(--buttonGreen);
  font-size: 0.8rem;
}

.review-gallery-cell-image {
  position: relative;
  width: 310px;
  height: 100%;
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
}

.review-gallery-controls {
  width: var(--featuredReviewCellWidth);
  margin-left: calc(var(--featuredReviewGalleryMarginLeft) + var(--featuredReviewCellWrapperPadding));
  display: flex;
  padding-top: 4rem;
  justify-content: space-between;
  align-items: center;
}

.gallery-arrow-button {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin-left: 1.3rem;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid hsl(from var(--textGrey) h s calc(l - 25));
  opacity: 0.85;
}

.gallery-arrow-button:hover {
  opacity: 1;
  border: 1px solid white;
}

.arrow-icon {
  stroke: white;
  width: 1.45rem;
  stroke-width: 2.5;
}

/*
  Review API
*/

.review-api-wrapper {
  position: relative;
  overflow: visible;
  width: var(--reviewAPIWidth);
  height: var(--reviewAPIHeight);
  margin: 2rem auto;
  background-color: var(--reviewAPIBackground);
  border: 1px solid var(--reviewAPIBorder);
  box-sizing: border-box;
  border-radius: 1.5rem;
  --toolbarHeight: 4rem;
}

.review-api-title {
  color: var(--reviewAPIAlteredFeaturedReviewGreen);
  position: relative;
  font-size: 3.5rem;
  font-weight: 600;
  letter-spacing: -0.0rem;
  margin: 8.5rem auto 0 auto;
  width: fit-content;
}

.api-icon {
  stroke-width: 4.5;
  height: 100%;
  margin-left: 0.3em;
  vertical-align: bottom;
  stroke: var(--optionCellHoverGreen);
}

.review-api-subheading {
  --textSize: 1.5rem;
  --textLH: 0.86;
  width: fit-content;

  color: var(--textGrey);
  position: relative;
  height: calc(var(--textSize) * var(--textLH));
  font-size: var(--textSize);
  line-height: var(--textLH);
  margin: 1.3rem auto 1.2rem;
  letter-spacing: -0.04rem;
}

.review-api-table-wrapper {
  overflow-y: auto;
  position: relative;
  box-sizing: border-box;
  padding-left: var(--reviewAPIPadding);
  width: 100%;
  height: calc(var(--reviewAPIHeight) - (2 * var(--toolbarHeight)));
}

.review-api-table {
  width: calc(var(--reviewAPIWidth) - (2 * var(--reviewAPIPadding)));
}

/* 
  Review API Row 
*/

.review-api-row {
  display: grid;
  position: relative;
  background-color: white;
  border-bottom: 1px solid hsl(from var(--reviewAPIBackground) h s calc(l - 25));
  /*box-shadow: 0px 2px 2px #00000010; */
  grid-template-columns: minmax(0,1fr) minmax(0,5fr) 0.6fr;
  box-sizing: border-box;
  --rowLeftPadding: 2rem;
  padding: 1.7rem 1rem 1.7rem var(--rowLeftPadding);
  border-radius: 0.0rem;
  margin-bottom: 0.1rem;
  align-items: center;
  font-family: 'Calibri';
}

.review-api-row .star-icon {
  fill: var(--reviewAPIStarGold);
  stroke: var(--reviewAPIStarGold);
}

.review-api-row-name {
  font-size: 1.35rem;
  font-weight: 400;
  color: var(--featuredReviewSectionGreen);
  letter-spacing: 0.01rem;
  margin-bottom: 0.3rem;
  position: relative;
  overflow-wrap: break-word; 
}

.review-api-row-policy {
  color: hsl(from var(--buttonGreen) h s calc(l - 10));
  font-size: 0.83rem;
}

.review-api-row-date {
  text-align: end;
  font-weight: 300;
  letter-spacing: -0.02rem;
  padding-right: 1.4rem;
}

.review-api-row-review-wrapper {
  padding: 0 1.5rem;
}

.review-api-row-rating {
  margin-bottom: 0.45rem;
}

.review-api-row-review {
  color: var(--textBlack);
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.35;
  overflow-y: auto;
  box-sizing: border-box;
  letter-spacing: -0.00rem;
}

/*
  Review API - Buttons
*/

.dropdown-button-wrapper.row-edit {
  position: absolute;
  font-family: var(--Segoe);
  height: 100%;
  left: 100%;
  top: 0;
}

.button.dropdown-button.row-edit {
  color: var(--textBlack);
  position: absolute;
  right: 100%;
  border-radius: 0.1rem;
  width: fit-content;
  border: none;
  padding: 0.45rem 0.1rem;
}

.button.dropdown-button.row-edit:hover {
  background-color: var(--reviewAPIBackgroundDark);
}

.review-api-action-buttons {
  overflow: clip;
  border: 1px solid var(--reviewAPIBackgroundDark);
  border-left: none;
  border-radius: 0 0.4rem 0.4rem 0;
  box-sizing: border-box;
  height: 100%;
  width: 2.8rem;

  display: flex;
  flex-direction: column;
  animation: appear ease-in-out 0.1s;
}

.review-api-action-buttons > * {
  flex: 1;
}

.review-api-action-buttons > *:hover {
  background-color: var(--reviewAPIBackgroundDark);
}

.review-api-row-ellipsis {
 stroke-width: 1.5;
}

.dropdown-button-wrapper.action-button {
  width: 100%;
}

.button.dropdown-button.action-button {
  background-color: transparent;
  font-size: 0.9rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  border-radius: 0;
  color: var(--textBlack);
}

.button.dropdown-button.action-button:hover {
  background-color: var(--reviewAPIBackgroundDark);
}

.review-api-delete-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-api-delete-button {
  cursor: pointer;
  height: 1.15rem;
  stroke: var(--textBlack);
}

.review-api-toolbar {
  height: var(--toolbarHeight);
  position: relative;
  box-sizing: border-box;
  display: flex;
  padding: 0 calc(var(--reviewAPIPadding) - 0.15rem);
  justify-content: space-between;
  align-items: flex-start;
}

.review-api-page-button-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--toolbarHeight) - 0.3rem);
  gap: 0.8rem;
  --buttonSize: 1.3rem;
}

.review-api-page-button {
  border: none;
  width: 1.8rem;
  height: 2.2rem;
  text-align: center;
  border-radius: 0.3rem;
  font-size: var(--buttonSize);
  font-family: var(--Segoe);
  color: var(--reviewAPIAlteredFeaturedReviewGreen);
  background-color: transparent;
  transition: background 0.2s ease,
              color 0.1s ease 0.1s;
}

.review-api-page-button.selected {
  background-color: var(--reviewAPIAlteredFeaturedReviewGreen);
  color: var(--oldReviewAPIBackground);
}


.review-api-page-button-arrow {
  border: none;
  background-color: transparent;
  padding: 0.1rem;
}

.review-api-page-button-arrow:disabled > * {
  stroke: var(--textGrey);
}

.review-api-page-button-arrow > * {
  height: calc(var(--buttonSize) - 0.1rem);
  width: auto;
  vertical-align: middle;
  stroke-width: 3;
  stroke: black;
}

/*
  Review API - Dropdown Option Menu
*/

.dropdown-button-wrapper.api-toolbar {
  width: var(--reviewAPIButtonWidth);
  margin-top: auto;
}

.dropdown-button-wrapper{
  position: relative;
  width: fit-content;
}

.button {
  position: relative;
  font-family: var(--Segoe);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 1.3em;
  padding: 0.75em 1.1em;
  border: 1px solid var(--textBlack);
  background-color: white;
  color: var(--textBlack);
  width: fit-content;
  text-align: center;
}

.button.dropdown-button {
  pointer-events: none;
  width: fit-content;
}

.dropdown-options-wrapper {
  z-index: 98;
  position: relative;
  width: 100%;
  border: 1px solid var(--reviewAPIBorder);
  border-top: none;
  border-radius: var(--reviewAPIButtonBorderRadius);
  background-color: white;
  animation: appear 0.2s ease-in-out;
}

.dropdown-option-cell {
  text-align: start;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  letter-spacing: -0.02rem;
  padding: 0.6rem 0.5rem 0.6rem var(--reviewAPIButtonLeftPadding);
  box-sizing: border-box;
  color: var(--textBlack);
}

.dropdown-option-cell:hover {
  background-color: var(--reviewAPIBackground);
}

.dropdown-option-cell.selected {
  background-color: var(--reviewAPIBackgroundDark);
}

.dropdown-button-hitbox {
  position: absolute;
  inset: 0;
  pointer-events: auto;
}

.dropdown-button-chevron.lucide {
  transform: translateY(10%);
  width: 40px;
  height: 40px;
  stroke-width: 1px;
  transition: transform 0.2s ease-in-out;
}

.button.dropdown-button.open .dropdown-button-chevron.lucide {
  transform: translateY(10%) rotate(180deg);
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.button.dropdown-button.api-toolbar { 
  background-color: hsla(0, 1%, 94%, 0.48);
  font-size: 1.35rem;
  font-family: 'Calibri';
  letter-spacing: 0.02rem;
  font-weight: 300;
  color: #2d2d2d;
  border-color: var(--reviewAPIBorder);
  padding: 0.6rem var(--reviewAPIButtonLeftPadding);
  width: 100%;
  box-sizing: border-box;
  height: var(--reviewAPIButtonHeight);
  border-radius: var(--reviewAPIButtonBorderRadius);

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.button.dropdown-button.api-toolbar:hover {
  background-color: hsla(0, 1%, 94%, 0.628);
}



/*
  Half Screen Dropdown Menu
*/

.dropdown-menu-wrapper {
  position: fixed;
  display: flex;
  z-index: 100;
  inset: 0;
}

.dropdown-menu-blur {
  backdrop-filter: blur(12px);
  background-color: hsla(0, 0%, 0%, 0.357);
  flex: 0 0 65%;
  opacity: 0;
  position: relative;
  animation: appear ease-in-out 0.4s forwards 0.05s;
}

button {
  font-family: var(--Segoe);
}


.dropdown-menu-window {
  --updateButtonHeight: 6rem;
  --topMargin: 1.6rem;
  --buttonMargin: 3rem;
  padding: var(--topMargin) 0 var(--updateButtonHeight) 0;
  flex: 0 0 35%;
  position: relative;
  box-sizing: border-box;
  background-color: white;
  animation: appear ease-in-out 0.2s;
}

.dropdown-menu-content {
  height: calc(100% - 1rem);
  overflow-y: auto;
  font-family: var(--Segoe);
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dropdown-menu-header {
  position: relative;
  margin: 0.3rem auto 8rem auto;
  width: calc(100% - 3rem);
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.dropdown-menu-title {
  position: absolute;
  width: 100%;
  line-height: 1.3;
  text-align: center;
  font-size: 2.7rem;
  font-weight: 500;
  letter-spacing: -0.02rem;
  color: var(--textBlack);
}

.dropdown-menu-clear {
  position: relative;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: -0.02rem;
}

.dropdown-menu-clear:hover {
  text-decoration: underline;
}

.exit-dropdown-menu {
  position: relative;
  cursor: pointer;
  --exitSize: 1.45rem;
  padding: 0.1rem;
  border-radius: 50%;
  transform: translateY(6%);
  width: var(--exitSize);
  height: var(--exitSize);
  stroke: var(--textBlack);
  stroke-width: 2.5;
}

.exit-dropdown-menu:hover {
  background-color: #c7c7c728;
}

.update-filters {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  cursor: pointer;
  height: var(--updateButtonHeight);
  text-align: center;
  font-size: 1.7rem;
  border-radius: 0;
  font-weight: 300;
  letter-spacing: 0.06rem;
  color: white;
  background-color: var(--textBlack);
  cursor: pointer;
}

.update-filters:hover {
  background-color: var(--textBlackHover);
}

.dropdown-menu-slider-wrapper {
  position: relative;
  width: 92%;
  margin: 2.5rem auto 1.5rem auto;
  box-sizing: border-box;
}

.slider-range-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0.2rem auto 0 auto;
}

.slider-range-text > * {
  border: 1px solid var(--textGrey);
  border-radius: 0.2rem;
  padding: 0.6rem 0;
  font-size: 1.1rem;
  text-align: center;
  width: 70px;
  letter-spacing: -0.02rem;
  color: var(--textBlack);
}

.dropdown-button-wrapper.dropdown-menu {
  position: relative;
  width: calc(100% - (2 * var(--buttonMargin)));
  margin: 0 auto;
}

.dropdown-options-wrapper.dropdown-menu {
  border: none;
}

.dropdown-option-cell.dropdown-menu {
  font-size: 1rem;
  line-height: 2.8;
}



.button.dropdown-button.dropdown-menu {
  border: none;
  border-bottom: 2px solid var(--reviewAPIBackgroundDark);
  color: var(--textGrey);
  background-color: white;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.025rem;
  border-radius: 0;
  padding: 1.5rem var(--reviewAPIButtonLeftPadding);
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button.dropdown-button.dropdown-menu:hover {
  color: var(--textGreyHover);
}

/*
  Create / Edit Review Window
*/

.review-api-write-review {
  width: var(--reviewAPIWidth);
  margin: 5.5rem auto;
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
  align-items: center;
  font-size: 2rem;
  line-height: 1;
  font-weight: 500;
  color: var(--textBlack);
}

.dropdown-button.write-review {
  color: var(--textBlack);
  font-weight: 400;
  font-size: 1.4rem;
  border-color: var(--textGrey);
}


.dropdown-button.write-review:hover {
  border-color: var(--textBlack);
} 

.create-review-wrapper {
  position: fixed;
  z-index: 100;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-review-blur {
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 0;
  backdrop-filter: blur(12px);
  background-color: hsla(0, 0%, 40%, 0.35);
  animation: appear ease-in-out 0.3s forwards;
}

.create-review-window {
  position: relative;
  background-color: white;
  border: 1px solid hsla(from var(--textGrey) h s calc(l + 15) / 0.2);
  width: min(70vw, 850px);
  box-sizing: border-box;
  --windowBorderRadius: 0.5rem;
  --inputBorderRadius: 0.4rem;
  --inputHeight: 3rem;
  --windowHeight: min(90vh, 900px);
  --submitButtonHeight: 4.5rem;
  border-radius: var(--windowBorderRadius);
  padding: 0 2.4rem calc(var(--submitButtonHeight) + 2.6vh) 2.4rem;
  animation: appear ease-in-out 0.2s forwards;
}

.create-review-input-section {
  width: 100%;
  box-sizing: border-box;
  border-radius: 1.5rem;
}

.create-review-header {
  width: 100%;
  display: flex;
  position: relative;
  margin: 1.8rem 0 3rem 0;
  justify-content: center;
  align-items: center;
}

.create-review-header .exit-dropdown-menu {
  position: absolute;
  --exitSize: 2.2rem;
  right: 0;
}

.create-review-title {
  font-size: 3rem;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.04rem;
  color: var(--textBlack);
}

.create-review-input-top-section {
  width: 100%;
  box-sizing: border-box;
  padding: 2rem 0rem 0.2rem 0rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.create-review-name-input {

}

.create-review-textarea {
  margin-top: 0.7rem;
  font-family: var(--Segoe);
  font-size: 1.25rem;
  resize: none;
  box-sizing: border-box;
  border-radius: var(--inputBorderRadius);
  border: 1px solid var(--textGrey);
  padding: 1rem;
  width: 100%;
  height: 225px;
}

.create-review-textarea:focus {
  outline: 4px double var(--textGrey);
}

label {
  all: unset;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-weight: 400;
  letter-spacing: -0.02rem;
  font-size: 0.95rem;
  color: var(--textGrey);
}

label > * {
  border: 1px solid var(--textGrey);
  border-radius: var(--inputBorderRadius);
  color: var(--textBlack);
  font-size: 0.95rem;
  font-weight: 400;
  font-family: var(--Segoe);
  width: 14rem;
  height: var(--inputHeight);
  box-sizing: border-box;
  padding: 0 0.5rem;
  margin: 0;
}

.create-review-select-policy option {
  padding: 4rem 0rem;
}

.create-review-submit {
  position: absolute;
  width: calc(100% + 2px);
  left: -1px;
  bottom: -1px;
  height: var(--submitButtonHeight);
  border: none;
  font-size: 2rem;
  letter-spacing: 0.05rem;
  font-weight: 300;
  text-align: center;
  background-color: var(--textBlack);
  color: white;
  border-radius: 0 0 var(--windowBorderRadius) var(--windowBorderRadius);
}

.create-review-submit:hover {
  background-color: var(--textBlackHover);
}

/*
  Create / Edit Review - Rating Input
*/

.rating-select-wrapper {
  width: calc(5 * (var(--writeReviewStarWidth) + var(--writeReviewStarMargin)));
  height: var(--inputHeight);
  margin: 1.1rem 0 0 0;
  position: relative;
  align-self: flex-end;
}

.rating-select-wrapper > * {
  position: absolute;
  vertical-align: middle;
  top: 0;
  left: 0;
}

.rating-select-star-wrapper > .star-icon {
  width: var(--writeReviewStarWidth);
  margin-right: var(--writeReviewStarMargin);
  stroke-width: 0.25;
  stroke: var(--reviewAPIStarGold);
  fill: var(--reviewAPIStarGold);
}

.rating-select-star-wrapper > .star-icon.empty {
  fill: transparent;
  stroke-width: 1.4;
  stroke: var(--textGrey);
}

.rating-select-hitbox-cell {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: calc(var(--writeReviewStarWidth) + var(--writeReviewStarMargin));
  height: var(--writeReviewStarWidth);
}

.rating-select-hitbox-cell-half {
  all: unset;
  display: inline-block;
  width: 50%;
  height: 100%;
  border-radius: var(--windowBorderRadius);
}

/*
  End Section
*/

.end-section {
  display: flex;
  padding: 5.5rem 0;
  background-color: var(--endButtonSectionTan);
  color: var(--featuredReviewSectionGreen);
  font-size: 3.55rem;
  line-height: 1.25;
  letter-spacing: -0.04rem;
  font-weight: 500;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  gap: 1rem;
}

.button.end-section-button{
  font-size: 1.1rem;
  font-weight: 500;
  display: inline-block;
  letter-spacing: 0;
  padding: 0.95em 1.25em;
  border-radius: 1.65em;
}

.button.end-section-button.green {
  background-color: var(--featuredReviewSectionGreen);
  color: var(--endButtonSectionTan);
  border-color: var(--featuredReviewSectionGreen);
  margin-right: 1.5rem;
}

.button.end-section-button.green:hover {
  background-color: hsl(from var(--featuredReviewSectionGreen) h calc(s - 4) calc(l + 4));
}

.button.end-section-button.white {
  border-color: var(--textGrey);
  color: var(--featuredReviewSectionGreen);
  background-color: var(--endButtonSectionTan);
}

.button.end-section-button.white:hover {
  border-color: var(--featuredReviewSectionGreen);
}

/*
  Footer
*/

.footer {
  background-color: var(--featuredReviewSectionGreen);
  padding: 4rem 0 2rem 0;
}

.footer-flex {
  position: relative;
  width: var(--otherContentSectionWidth);
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.link-section {
  color: var(--endButtonSectionTan);
  font-size: 1.65rem;
  font-weight: 600;
}

.link-section ul{
  padding-left: 0;
  margin-top: 2.1rem;
}

.link-section li {
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: -0.04rem;
  list-style: none;
  padding: 0.25em 0;
}

.link-section li:hover {
  text-decoration: underline;
}
.link-section:nth-last-child(1) li:nth-last-child(2) {
  margin: 2.5rem 0;
}

.footer-line {
  width: var(--otherContentSectionWidth);
  position: relative;
  margin: 3rem auto;
  border-top: 2px solid hsl(120, 2%, 42%);
}

.footer-ending-text {
  text-wrap-style: balance;
  color: var(--textGrey);
  font-size: 1rem;
  line-height: 1.37;
  font-weight: 400;
  letter-spacing: -0.02rem;
}

.footer-flex.wide {
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 1rem;
}

.footer-ending-text:nth-child(1){
  width: 40ch;
}


.footer-ending-text:nth-child(2){
  width: 25ch;
}





